<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/menu.css">
    <link rel="stylesheet" href="./styles/responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cb1845e987.js" crossorigin="anonymous"></script>
    <!-- <script src="https://restcountries.eu/rest/v2/all"></script> -->
    <title>Rituals</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo-box">
                <div class="menu-box">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <h4>rituals...</h4>
                <div class="nav-links">
                    <ul>
                        <li>
                            <a href="#">New</a>
                        </li>
                        <li>
                            <a href="#">Body</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Beauty</a>
                        </li>
                        <li>
                            <a href="#">Gifts</a>
                        </li>
                        <li>
                            <a href="#">Collections</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="icon-box">
                <form id="search">
                    <label for="search">
                        <i class="fas fa-search"></i>
                    </label>
                    <input type="text" placeholder="I'm looking for..." name="search" autocomplete="off" class="search">
                    <i class="fas fa-times" id="times"></i>
                </form>
                <a href="#" target="_blank"><i class="far fa-user-circle" id="later"></i></a>
                <i class="fas fa-shopping-bag" id="later"></i>
            </div>

            <div class="res-menu">
                <ul class="res-big-links" id="res-links">
                    <li class="bigs">
                        <a href="#" class="big-links">New <span><i class="fas fa-chevron-right"></i></span></a>
                        <div class="new-open"></div>
                    </li>
                    <li class="bigs">
                        <a href="#" class="big-links">body <span><i class="fas fa-chevron-right"></i></span></a>
                        <div class="body-open"></div>
                    </li>
                    <li class="bigs">
                        <a href="#" class="big-links">home <span><i class="fas fa-chevron-right"></i></span></a>
                        <div class="home-open"></div>
                    </li>
                    <li class="bigs">
                        <a href="#" class="big-links">beauty <span><i class="fas fa-chevron-right"></i></span></a>
                        <div class="beauty-open"></div>
                    </li>
                    <li class="bigs">
                        <a href="#" class="big-links">gifts <span><i class="fas fa-chevron-right"></i></span></a>
                        <div class="gifts-open"></div>
                    </li>
                    <li class="bigs">
                        <a href="#" class="big-links">customise <span><i class="fas fa-chevron-right"></i></span></a>
                        <div class="customise-open"></div>
                    </li>
                    <li class="bigs">
                        <a href="#" class="big-links">collections <span><i class="fas fa-chevron-right"></i></span></a>
                        <div class="collections-open"></div>
                    </li>
                </ul>
                <ul class="res-small-links" id="res-links">
                    <li class="smalls">
                        <a href="#" class="small-links">Magazine <span><i class="fas fa-chevron-right"></i></span></a>
                        <div class="magazine-open"></div>
                    </li>
                    <li class="smalls">
                        <a href="#" class="small-links">My account <span><i class="fas fa-chevron-right"></i></span></a>
                        <div class="my_account-open"></div>
                    </li>
                    <li class="smalls">
                        <a href="#" class="small-links">Customer service <span><i class="fas fa-chevron-right"></i></span></a>
                        <div class="cus_service-open"></div>
                    </li>
                    <li class="smalls">
                        <a href="#" class="small-links">Become a My Rituals member <span><i class="fas fa-chevron-right"></i></span></a>
                        <div class="member-open"></div>
                    </li>
                    <li class="smalls">
                        <a href="#" class="small-links">Download our app <span><i class="fas fa-chevron-right"></i></span></a>
                        <div class="app-open"></div>
                    </li>
                </ul>
            </div>
            
        </nav>
        <div class="bg"></div>

        <div class="header-text">
            <p>The</p>
            <p>Ritual of holi</p>
            <p>Colour your world with love</p>
            <a href="#">Shop the collection</a>
        </div>
    </header>

    <div class="read">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id accusantium explicabo quae consequuntur 
            iste harum nostrum dolore tempora, sequi a? Eaque quo pariatur fugit, est tempore accusantium rerum 
            expedita quos!<span class="less">...</span><span class="other">Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Perferendis debitis qui eaque officiis! Illum quod sed quidem eius impedit eligendi 
            nostrum, perspiciatis, fuga magnam molestiae necessitatibus hic recusandae distinctio. Eius?</span></p>
            <button class="read-btn">Read More</button>
    </div>

    <section class="products">
        <div class="text1">
            <p>because you are holi awesome</p>
            <p>The Holi awesome effect</p>
            <p>Meet our favourite Holi products: Holi Crackle body mouse, You are bomb that bomb, Shower Flower foam
            and Playable foam!</p>
        </div>

        <!-- <div class="slideshow">
            <div class="slides">
                <div class="slide1">
                    <div class="active-image">
                        <img src="./images/slide1.gif" alt="">
                    </div>
                    <div class="slide-part">
                        <h3>1</h3>
                        <p>holi Crackle body mousse</p>
                        <p>Get crackling by massaging into your skin, leaving your whole body feelimg silky soft</p>
                        <div class="card-part">
                            <h4>crackling body mousse</h4>
                            <p>$7.90</p>
                            <a href="">add to cart</a>
                            <a href="">view full details</a>
                        </div>
                    </div>
                </div>
                <div class="slide2">
                    <div class="active-image">
                        <img src="./images/slide2.gif" alt="">
                    </div>
                    <div class="slide-part">
                        <h3>2</h3>
                        <p>YOU'RE THE BOMB BATH BOMB</p>
                        <p>Unwrap the bath bomb. Drop it under running water into an almost full tub to activate the fizz. Swirl until dissolved</p>
                        <div class="card-part">
                            <h4>Fizzing Bath Bomb</h4>
                            <p>$4.90</p>
                            <a href="">add to cart</a>
                            <a href="">view full details</a>
                        </div>
                    </div>
                </div>
                <div class="slide3">
                    <div class="active-image">
                        <img src="./images/slide3.gif" alt="">
                    </div>
                    <div class="slide-part">
                        <h3>3</h3>
                        <p>Shower Flower foam</p>
                        <p>Get the most fun out of your foam by massaging it into damp skin and enjoying the beautiful scent.</p>
                        <div class="card-part">
                            <h4>Shower Foam Flower</h4>
                            <p>$7.90</p>
                            <a href="">add to cart</a>
                            <a href="">view full details</a>
                        </div>
                    </div>
                </div>
                <div class="slide4">
                    <div class="active-image">
                        <img src="./images/slide4.gif" alt="">
                    </div>
                    <div class="slide-part">
                        <h3>4</h3>
                        <p>SQUEEZE SHAPE SHOWER</p>
                        <p>The fab new playable shower foam is a surefire way to put a smile on your face and a gorgeous fragrance on your skin.</p>
                        <div class="card-part">
                            <h4>Playable Foam</h4>
                            <p>$7.90</p>
                            <a href="">add to cart</a>
                            <a href="">view full details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
        </div> -->



        <div class="ingredients">
            <p class="ing1">ingredients</p>
            <p class="ing2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque id ipsum quasi omnis, earum deserunt 
            a cum ipsam. Eius suscipit laborum beatae ipsum autem quod dolor laudantium quisquam, minima odit.</p>
            <div class="box1">
                <div class="box11">
                    <img src="./images/Grapefruit.png" alt="">
                    <p class="mini-head">pink Grapefruit</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus corrupti rem id sit eveniet 
                    quos cumque explicabo modi minus neque rerum voluptate, deleniti facilis suscipit magni 
                    sint dicta quod incidunt.</p>
                </div>
                <div class="box12">
                    <img src="./images/Lily.png" alt="">
                    <p class="mini-head">white lily</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus corrupti rem id sit eveniet 
                        quos cumque explicabo modi minus neque rerum voluptate, deleniti facilis suscipit magni 
                        sint dicta quod incidunt.</p>
                </div>
            </div>
            <div class="box2">
                <div class="box21">
                    <img src="./images/Holi.gif" alt="">
                </div>
                <div class="box22">
                    <p class="mini-head" id="another">Eau my Word</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam optio iure possimus voluptate consequatur dignissimos 
                    expedita rem accusantium!</p>
                    <a href="#">shop eau de toilette</a>
                </div>
            </div>
        </div>
    </section>


    <div class="products2" id="prd">
        <div class="product" v-for="product in products">
            <div class="image">
                <img :src="product.image" alt="">
            </div>
            <div class="details">
                <p class="name">{{product.name}}</p>
                <p class="info">{{product.info}}</p>
                <p class="price">$ {{product.price}}</p>
                <button class="btn-cart" v-on:click="count++; overall_price+=product.price" @click="toggleIt(false)">add to cart</button>
            </div>
        </div>

        <div class="added" v-for="index in products">
            <div class="added-title">
                <i class="fas fa-times" id="times-gift" @click="toggleIt(true)"></i>
                <div class="bg-add" @click="toggleIt"></div>
                <p class="title_txt1">My shopping cart</p>
                <p class="title_txt2">{{count}} products</p>
                <p>{{free()}}</p>
            </div>
            
            <div class="length-part">
                <div class="length-bg"></div>
                <div class="length" v-bind:style="{width: widthX()+'%'}"></div>
            </div>
            <div class="gift">
                <div class="image-gift">
                    <img src="./images/gift.png" alt="">
                </div>
                <div class="text-gift">
                    <p class="one-gift">for my ritual members</p>
                    <p class="two-gift" >Receive a deluxe gift of choice with your current order</p>
                    <a href="" class="three-gift">Log in or Sign up</a>
                </div>
            </div>

            <div class="order-part">
                <div class="subtotal-part">
                    <div class="subtotal">
                        <p>ORDER SUBTOTAL</p>
                        <p>Delivery Time 1-2 working days</p>
                    </div>
                    <div class="overall-price">
                        <p>{{overall_price.toFixed(2)}} $</p>
                    </div>
                </div>
                <div class="cont">
                    <button @click="toggleIt(true)">continue shopping</button>
                    <a href="">go to cart</a>
                </div>
            </div>
        </div>
    </div>


    <!-- <footer>
        <div class="fpart">
            <div class="fpart-1">
                <p>Stay up to date</p>
                <p>Sign up for the latest Ritual news and exclusive offers</p>
            </div>
            <div class="fpart-2">
                <form action="">
                    <label for="email">your email address</label>
                    <input type="text" required>
                    <button>subscribe</button>
                </form>
            </div>
        </div>

        <div class="flinks">
            <div class="flink">
                <div class="finner">
                    <p>Customer service</p>
                    <ul>
                        <li>
                            <a href="#">Shipping & returns</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">Cookie Policy</a>
                        </li>
                        <li>
                            <a href="#">Cookie Settings</a>
                        </li>
                        <li>
                            <a href="#">Tax Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="finner">
                    <p>Where to find us</p>
                    <ul>
                        <li>
                            <a href="#">Our boutiques</a>
                        </li>
                        <li>
                            <a href="#">House of Rituals</a>
                        </li>
                        <li>
                            <a href="#">Department Stores</a>
                        </li>
                        <li>
                            <a href="#">Body Spas</a>
                        </li>
                        <li>
                            <a href="#">Mind Spa</a>
                        </li>
                        <li>
                            <a href="#">Hotels</a>
                        </li>
                        <li>
                            <a href="#">Airports</a>
                        </li>
                    </ul>
                </div>
                <div class="finner">
                    <p>Our brand</p>
                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Rituals cares</a>
                        </li>
                        <li>
                            <a href="#">Jobs</a>
                        </li>
                        <li>
                            <a href="#">Franchise</a>
                        </li>
                        <li>
                            <a href="#">Press Enquires</a>
                        </li>
                        <li>
                            <a href="#">Corporate Gifting</a>
                        </li>
                        <li>
                            <a href="#">Promotions</a>
                        </li>
                        <li>
                            <a href="#">App</a>
                        </li>
                        <li>
                            <a href="#">Ritual Events</a>
                        </li>
                        <li>
                            <a href="#">Become a my Rituals member</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="foption">
                <p>Choose your language & country</p>
                <form action="">
                    <label for="country">country</label>
                    <select name="country" id="country"> 
                        <option value="usa">USA<i class="fas fa-check"></i></option>
                        <option value="brazil">brazil<i class="fas fa-check"></i></option>
                        <option value="uk">uk<i class="fas fa-check"></i></option>
                        <option value="mexico">mexico<i class="fas fa-check"></i></option>
                        <option value="canada">canada<i class="fas fa-check"></i></option>
                        <option value="urugvay">urugvay<i class="fas fa-check"></i></option>
                        <option value="uzbekistan">uzbekistan<i class="fas fa-check"></i></option>
                        <option value="russia">russia<i class="fas fa-check"></i></option>
                        <option value="china">china<i class="fas fa-check"></i></option>
                        <option value="korea">korea<i class="fas fa-check"></i></option>
                        <option value="singapur">singapur<i class="fas fa-check"></i></option>
                        <option value="australia">australia<i class="fas fa-check"></i></option>
                        <option value="austria">austria<i class="fas fa-check"></i></option>
                        <option value="germany">germany<i class="fas fa-check"></i></option>
                        <option value="portugal">portugal<i class="fas fa-check"></i></option>
                        <option value="france">france<i class="fas fa-check"></i></option>
                        <option value="spain">spain<i class="fas fa-check"></i></option>
                        <option value="UK">UK<i class="fas fa-check"></i></option>
                        <option value="italy">italy<i class="fas fa-check"></i></option>
                    </select>
                </form>
            </div>
        </div>
    </footer> -->


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="./js/app.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/scroll-out.js"></script>
    <script>
        ScrollOut({
            targets: '.product'
        })
    </script>
</body>
</html>