@media screen and (max-width: 1100px) {
    header nav .logo-box .nav-links{
        display: none !important;
    }
    input{
        width: 0;
    }
    .res-input-active{
        width: 12vw;
    }
}